Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
docs/Makefile
docs/Makefile.in
include/Makefile
include/Makefile.in
include/ticcutils/Makefile
include/ticcutils/Makefile.in
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/.libs/
src/*.la
src/*.lo
src/*.o
src/Makefile
src/Makefile.in
src/bzout.bz2
src/bzout.txt
src/gzout.gz
src/gzout.txt
src/nasty.txt
src/runtest
src/test-suite.log
src/tst.sh.log
src/tst.sh.trs
stamp-h1
test-driver
tests/Makefile
tests/Makefile.in
tests/sub1/Makefile
tests/sub1/Makefile.in
ticcutils.pc
README
